@import "../valo/valo.scss";

$background: #2056a8;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	// Include valo theme styles in your theme
	@include valo;

	// You can style your demo app right here
	.demoContentLayout {
		background-color: $background;
	}

	.v-caption {
		color: #fffa7c;
		font-weight: bold;
	}

	.v-label {
		color: #fffa7c;
		font-weight: bold;
	}

	.recolored {
		.v-csscheckbox-inner {
			&:after {
				background-color: palevioletred;
				color: palegreen;
			}

			&:before {
				background-color: palegreen;
				color: palevioletred;
			}
		}
	}
}
